<%= form_with(model: newsarticle) do |form| %>
  <% if newsarticle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(newsarticle.errors.count, "error") %> prohibited this newsarticle from being saved:</h2>

      <ul>
        <% newsarticle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :source, style: "display: block", class: "form-control" %>
    <%= form.text_field :source, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :author, style: "display: block", class: "form-control" %>
    <%= form.text_field :author, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :title, style: "display: block", class: "form-control" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :text, style: "display: block", class: "form-control" %>
    <%= form.text_field :text, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :imglink, style: "display: block", class: "form-control" %>
    <%= form.text_field :imglink, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :articlelink, style: "display: block", class: "form-control" %>
    <%= form.text_field :articlelink, class: "form-control" %>
  </div>

    <div class="mb-3">
    <%= form.number_field :user_id, id: :newsarticle_user_id, value: current_user.id, type: :hidden %>
  </div>


  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
