
<h1>News</h1>

<div id="newsarticles">
  <% @newsarticles.each do |newsarticle| %>
     
  <% if newsarticle.user == current_user %>

  <p>
    <strong>Source:</strong>
    <%= newsarticle.source %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= newsarticle.author %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= newsarticle.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= newsarticle.text %>
  </p>

  <p>
    <strong>Imglink:</strong>
    <%= newsarticle.imglink %>
  </p>

  <p>
    <strong>Articlelink:</strong>
    <%= newsarticle.articlelink %>
  </p>

    <p>
      <%= link_to "Show this newsarticle", newsarticle, class: "btn btn-secondary" %>
    </p>
        <% end %>

  <% end %>
</div>

<%= link_to "New newsarticle", new_newsarticle_path, class: "btn btn-secondary" %>
